{% extends "base.html" %}
{% load staticfiles %}
{% block styles %}
    <link rel="stylesheet" href="{% static 'index-content.css' %}">
{% endblock %}

{% block content %}

<div>
    <br/>
    <H1 style="text-align: center; font-family: 'Comic Sans MS'; color: black">Welcome to file conversion app.</H1>
    <br/>
    <H2 style="text-align: center; font-family: 'Comic Sans MS'; color: black">Please select any option from
        following.</H2>
</div>

</div>
<div class="container">
    <div class="row">
        <div class="col-md-4 text-center" style="opacity: 1;" onclick="location.href='./jpgtopdf'">
            <div class="content-box" >
                <img title="JPG to PDF" class="finbyz-icon img-responsive"
                     src="{% static 'icons/pdf.png' %}">
                <h4 style="margin-top: 5px" class="content-box-title">JPG to PDF</h4>
                <p class="content-box-sub">Convert your jpg images to pdf.</p>
            </div>
        </div>
        <div class="col-md-4" style="opacity: 1;" onclick="location.href='./pdftojpg'">
            <div class="content-box text-center">
                <img title="PDF to JPG" class="finbyz-icon img-responsive"
                     src="{% static 'icons/jpg.png' %}">
                <h4 style="margin-top: 5px" class="content-box-title">PDF to JPG</h4>
                <p class="content-box-sub">Extract your jpg images from a pdf file./p>
            </div>
        </div>
        <div class="col-md-4" style="opacity: 1;" onclick="location.href='./pdftableextract'">

            <div class="content-box text-center">      
                <img title="PDF to DOCX" class="finbyz-icon img-responsive"
                     src="{% static 'icons/docx.png' %}">
                <h4 style="margin-top: 5px" class="content-box-title">PDF to DOCX</h4>
                <p class="content-box-sub">Convert your pdf document to docx format</p>
            </div>
        </div>

    </div>
</div>

{% endblock %}
