{% extends "base.html" %}
{% load staticfiles %}
{% block content %}

<div>
    <br/>
    <H1 style="text-align: center; font-family: 'Comic Sans MS'; color: black">Convert your pdf into images</H1>
    <br/>
</div>

<div>
    <form method="post" action="./pdftojpg" enctype="multipart/form-data">
        {% csrf_token %}
        <div>
            <h5 style="text-align: center">Click the icon below to upload files</h5>
        </div>
        <div class="image-upload">
            <label for="files">
                <img src="{% static 'icons/upload.png' %}"/>
            </label>

            <input id="files" type="file" name="files" accept="application/pdf" hidden/>
        </div>
        </br>
        </br>
        </br>
        </br>
        <div>
            <h5 id="filename" style="text-align: center"></h5>
        </div>
        <div class="buttons">
            <button id="uploadbutton" type="submit"
                    class="btn btn-primary " disabled>Upload
            </button>
            <a id="removequeue" href="./pdftojpg" type="button"
                    class="btn btn-danger disabled" >Remove file
            </a>
        </div>
        </br>
        </br>

    </form>
</div>
</br>
{% if url %}
    <h5 style="text-align: center">Your file is ready for download.</h5>
    </br>
    <a style="margin:0 auto;display: block; width: 100px" type="button" class="btn btn-primary" href="../static/uploaded_files/pdf2jpg/{{ url }}/sample.txt" download="output.zip">Download</a>
{% endif %}

{% endblock %}
{% block custom_js %}
<script src="{% static 'file-upload.js' %}"></script>
{% endblock %}
